default: &default
  adapter: postgresql
  encoding: unicode
  username: FILL_IN
  password: FILL_IN

development:
  <<: *default
  database: circuit_development

test:
  <<: *default
  database: circuit_test
